* {
    font-family: Open Sans, DejaVu Sans, Book;
    -webkit-font-smoothing: antialiased;
}

.head {
	background: url("view.jpeg") fixed;
	background-size: cover;
	position: fixed;
	height: 25px;
	width: 100%;
	margin-top: -10px;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 5px;
	box-shadow: 2px 5px 5px rgba(0,0,0, 0.6)

}

body {
	background: -webkit-linear-gradient(bottom left, rgba(228,228,228,.9), rgba(156,154,154,.9));
}

.t {
	color: black;
	padding-left: 15px;
	padding-right: 5px;
	height: 29px;
	width: 110px;
	margin-top: -4px;
	border-radius: 3px;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 400ms;
}
.t:hover {
	background: rgba(0,0,0,.6);
	color: white;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 400ms;
}

a {
	display: block;
}